{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1 class="pl-5 font-weight-bolder font-size-1 font-italic">All Pages</h1>

    <ul>
        {% for entry in entries %}

        <div class="card my-3">
            <div class="card-body">
              <blockquote class="blockquote mb-0 pl-2">
                <a href="{{entry}}"><li>{{ entry }}</li></a>
                <footer class="blockquote-footer">Someone data of <cite title="Source Title">{{entry}}</cite></footer>
              </blockquote>
            </div>
          </div>
        {% endfor %}
    </ul>

{% endblock %}